.Rproj.user
.Rhistory
.RData
.Ruserdata


# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and system files
._*

# Ignore RStudio project file
*.Rproj

# Ignore environment files (e.g., .env)
*.env

# Ignore log files
*.log